<div class="container">
  <div class="verification-message">
    <h1>Account Verification</h1>
    <app-spinner *ngIf="showSpinner"></app-spinner>
    <ng-container *ngIf="showValidationMessage">
    <div class="message">
        <!-- Message for successful verification -->
        <p *ngIf="!accountIsNotVerified" class="success-message">Congratulations! Your account has been successfully verified. You will be redirected to the login page shortly to access all our features securely</p>
        <!-- Display error message if account is not verified -->
        <p *ngIf="accountIsNotVerified" class="error-message">Your account verification failed. Please try again or contact support.</p>
      </div>
    </ng-container>
  </div>
</div>
